<a href="https://colab.research.google.com/github/chetanpatil4160/Pyspark/blob/main/Spark_Coding_Question_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("interview").getOrCreate()

In [3]:
df = spark.read \
.format("csv") \
.option("header","true") \
.option("inferSchema","true") \
.load("/content/Employee_sample_data1.csv")

In [4]:
df.show()

+-----------+----------------+--------------------+-----------+--------------------+------+---------+---+----------+--------+-------+-------------+---------+---------+
|Employee_id|       full_name|                 job| department|       Business_unit|Gender|Ethnicity|Age| Hire Date|  Salary|Bonus %|      Country|     City|Exit Date|
+-----------+----------------+--------------------+-----------+--------------------+------+---------+---+----------+--------+-------+-------------+---------+---------+
|     E02002|          Kai Le|   Controls Engineer|Engineering|       Manufacturing|  Male|    Asian| 47|02-05-2022| 92368.0|     0%|United States| Columbus|     NULL|
|     E02003|    Robert Patel|             Analyst|      Sales|           Corporate|  Male|    Asian| 58|10/23/2013| 45703.0|     0%|United States|  Chicago|     NULL|
|     E02004|      Cameron Lo|Network Administr...|         IT|Research & Develo...|  Male|    Asian| 34| 3/24/2019| 83576.0|     0%|        China| Shanghai|     NULL|
|     E02005| Harper Castillo|IT Systems Architect|         IT|           Corporate|Female|   Latino| 39|04-07-2018| 98062.0|     0%|United States|  Seattle|     NULL|
|     E02006|Harper Dominguez|            Director|Engineering|           Corporate|Female|   Latino| 42| 6/18/2005|175391.0|    24%|United States|   Austin|     NULL|
|     E02007|         Ezra Vu|Network Administr...|         IT|       Manufacturing|  Male|    Asian| 62| 4/22/2004| 66227.0|     0%|United States|  Phoenix|2/14/2014|
|     E02008|         Jade Hu|         Sr. Analyst| Accounting|  Specialty Products|Female|    Asian| 58| 6/27/2009| 89744.0|     0%|        China|Chongqing|     NULL|
|     E02009|     Miles Chang|          Analyst II|    Finance|           Corporate|  Male|    Asian| 62| 2/19/1999| 69674.0|     0%|        China|  Chengdu|     NULL|
|     E02010|   Gianna Holmes|System Administra...|         IT|       Manufacturing|Female|Caucasian| 38|09-09-2011| 97630.0|     0%|United States|  Seattle|     NULL|
|     E02011|  Jameson Thomas|             Manager|    Finance|  Specialty Products|  Male|Caucasian| 52|02-05-2015|105879.0|    10%|United States|    Miami|     NULL|
|     E02012|    Jameson Pena|     Systems Analyst|         IT|       Manufacturing|  Male|   Latino| 49|10-12-2003| 40499.0|     0%|United States|    Miami|     NULL|
|     E02013|        Bella Wu|         Sr. Analyst|    Finance|  Specialty Products|Female|    Asian| 63|08-03-2014| 71418.0|     0%|United States|  Phoenix|     NULL|
|     E02014|       Jose Wong|            Director|         IT|       Manufacturing|  Male|    Asian| 45|11/15/2017|150558.0|    23%|        China|Chongqing|     NULL|
|     E02015|Lucas Richardson|             Manager|  Marketing|           Corporate|  Male|Caucasian| 36| 7/22/2018|118912.0|     8%|United States|    Miami|     NULL|
|     E02016|     Jacob Moore|         Sr. Manager|  Marketing|           Corporate|  Male|    Black| 42| 3/24/2021|131422.0|    15%|United States|  Phoenix|     NULL|
|     E02017|         Luna Lu|IT Systems Architect|         IT|           Corporate|Female|    Asian| 62| 7/26/1997| 64208.0|     0%|United States|    Miami|     NULL|
|     E02018|      Bella Tran|      Vice President|Engineering|  Specialty Products|Female|    Asian| 45|08-05-2010|254486.0|    33%|        China|  Chengdu|     NULL|
|     E02019|        Ivy Chau|             Analyst|      Sales|  Specialty Products|Female|    Asian| 61|03-03-2019| 54811.0|     0%|        China|Chongqing|     NULL|
|     E02020|    Jordan Kumar|Service Desk Analyst|         IT|  Specialty Products|  Male|    Asian| 29|11-11-2017| 95729.0|     0%|United States|  Seattle|     NULL|
|     E02021|Sophia Gutierrez|             Manager| Accounting|  Specialty Products|Female|   Latino| 63|02-08-2009|102649.0|     6%|United States|   Austin|     NULL|
+-----------+----------------+--------------------+-----------+--------------------+------+---------+---+----------+--------+-------+-------------+---------+---------+
only showing top 20 rows

**find higest salary by each department**

In [13]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, dense_rank

# Define the window specification
window_spec = Window.partitionBy("department").orderBy(col("salary").desc())

# Select the top-paid employee in each department
top_paid_employees = (
    df.withColumn("dense_rank", dense_rank().over(window_spec))
      .filter(col("dense_rank") == 1)
      .select("Employee_id", "full_name", "job", "department")
)

# Show the results
top_paid_employees.show()

+-----------+---------------+--------------+---------------+
|Employee_id|      full_name|           job|     department|
+-----------+---------------+--------------+---------------+
|     E02861|  Anna Guerrero|          NULL|           NULL|
|     E02756|  Roman Mendoza|Vice President|     Accounting|
|     E02557|  Robert Rogers|Vice President|    Engineering|
|     E02840|       Mia Vang|          NULL|        Finance|
|     E02949|  Kinsley Huynh|Vice President|Human Resources|
|     E02593|   Samantha Zhu|Vice President|             IT|
|     E02318|     Carter Luu|Vice President|      Marketing|
|     E02256|Eloise Williams|Vice President|          Sales|
|     E02256|Eloise Williams|Vice President|          Sales|
+-----------+---------------+--------------+---------------+

**Salary Greater than Avg Salary of each departnment**

In [36]:
from pyspark.sql.functions import avg, round, col

# Calculate average salary per department
avg_salary = df.groupBy("department") \
               .agg(round(avg("salary"), 2).alias("avg_salary"))

# Define the columns to select
selected_columns = ["Employee_id", "full_name", "job", "department", "salary", "avg_salary"]

# Perform the join and filter employees earning above or equal to the department's average salary
result_df = (df.join(avg_salary, on="department", how="inner")
               .filter(col("salary") >= col("avg_salary"))
               .select(selected_columns))

# Show the first 10 records
result_df.show(10)



# 2nd Approach
from pyspark.sql.window import Window
from pyspark.sql.functions import avg, round, col

# Define the window specification partitioned by department
window_spec = Window.partitionBy("department")

# Define the columns to select
selected_columns = ["Employee_id", "full_name", "job", "department", "salary", "avg_salary"]

# Calculate the average salary per department and filter employees earning above or equal to the department's average salary
result_df = (df.withColumn("avg_salary", round(avg("salary").over(window_spec), 2))
               .select(selected_columns)
               .filter(col("salary") >= col("avg_salary")))

# Show the result
result_df.show(10)

+-----------+----------------+--------------------+-----------+--------+----------+
|Employee_id|       full_name|                 job| department|  salary|avg_salary|
+-----------+----------------+--------------------+-----------+--------+----------+
|     E02005| Harper Castillo|IT Systems Architect|         IT| 98062.0|  91708.55|
|     E02006|Harper Dominguez|            Director|Engineering|175391.0| 110982.18|
|     E02010|   Gianna Holmes|System Administra...|         IT| 97630.0|  91708.55|
|     E02014|       Jose Wong|            Director|         IT|150558.0|  91708.55|
|     E02016|     Jacob Moore|         Sr. Manager|  Marketing|131422.0| 126982.61|
|     E02018|      Bella Tran|      Vice President|Engineering|254486.0| 110982.18|
|     E02020|    Jordan Kumar|Service Desk Analyst|         IT| 95729.0|  91708.55|
|     E02025|      Parker Lai|      Vice President| Accounting|246400.0| 127548.87|
|     E02026| Charles Simmons|             Manager|      Sales|113525.0| 102825.99|
|     E02027|      Jayden Luu|            Director| Accounting|184342.0| 127548.87|
+-----------+----------------+--------------------+-----------+--------+----------+
only showing top 10 rows

+-----------+-------------------+--------------+----------+--------+----------+
|Employee_id|          full_name|           job|department|  salary|avg_salary|
+-----------+-------------------+--------------+----------+--------+----------+
|     E02788|       Ella Herrera|      Director|      NULL|156276.0| 102588.77|
|     E02809|          Nevaeh Ng|   Sr. Manager|      NULL|159823.0| 102588.77|
|     E02813|        Anthony Lam|   Sr. Manager|      NULL|133908.0| 102588.77|
|     E02861|      Anna Guerrero|          NULL|      NULL|226122.0| 102588.77|
|     E02863|          Jose Park|          NULL|      NULL|152519.0| 102588.77|
|     E02979|               NULL|          NULL|      NULL|118644.0| 102588.77|
|     E02989|          Jack Chin|   Sr. Manager|      NULL|121788.0| 102588.77|
|     E02936|Valentina Fernandez|      Director|      NULL|180256.0| 102588.77|
|     E02025|         Parker Lai|Vice President|Accounting|246400.0| 127548.87|
|     E02027|         Jayden Luu|      Director|Accounting|184342.0| 127548.87|
+-----------+-------------------+--------------+----------+--------+----------+
only showing top 10 rows

**For Given Department Find Out the Employee Who have been Working for 2 years**

In [53]:
from pyspark.sql.functions import col, to_date, coalesce, months_between, round, current_date

df = df.withColumn(
    "hire_date",
    coalesce(
        to_date(col("Hire Date"), "dd-MM-yyyy"),
        to_date(col("Hire Date"), "M/dd/yyyy")
    )
).withColumn(
    "no_of_years",
    round(months_between(current_date(), col("hire_date")) / 12, 1)
).filter(col("hire_date").isNotNull()).filter(col("no_of_years") >= 2)  # Apply filter condition

df.show()

+-----------+----------------+--------------------+-----------+--------------------+------+---------+---+----------+--------+-------+-------------+---------+---------+----------+-----------+
|Employee_id|       full_name|                 job| department|       Business_unit|Gender|Ethnicity|Age| Hire Date|  Salary|Bonus %|      Country|     City|Exit Date| hire_date|no_of_years|
+-----------+----------------+--------------------+-----------+--------------------+------+---------+---+----------+--------+-------+-------------+---------+---------+----------+-----------+
|     E02002|          Kai Le|   Controls Engineer|Engineering|       Manufacturing|  Male|    Asian| 47|02-05-2022| 92368.0|     0%|United States| Columbus|     NULL|2022-05-02|        2.8|
|     E02003|    Robert Patel|             Analyst|      Sales|           Corporate|  Male|    Asian| 58|10/23/2013| 45703.0|     0%|United States|  Chicago|     NULL|2013-10-23|       11.3|
|     E02004|      Cameron Lo|Network Administr...|         IT|Research & Develo...|  Male|    Asian| 34| 3/24/2019| 83576.0|     0%|        China| Shanghai|     NULL|2019-03-24|        5.9|
|     E02005| Harper Castillo|IT Systems Architect|         IT|           Corporate|Female|   Latino| 39|04-07-2018| 98062.0|     0%|United States|  Seattle|     NULL|2018-07-04|        6.6|
|     E02006|Harper Dominguez|            Director|Engineering|           Corporate|Female|   Latino| 42| 6/18/2005|175391.0|    24%|United States|   Austin|     NULL|2005-06-18|       19.7|
|     E02007|         Ezra Vu|Network Administr...|         IT|       Manufacturing|  Male|    Asian| 62| 4/22/2004| 66227.0|     0%|United States|  Phoenix|2/14/2014|2004-04-22|       20.8|
|     E02008|         Jade Hu|         Sr. Analyst| Accounting|  Specialty Products|Female|    Asian| 58| 6/27/2009| 89744.0|     0%|        China|Chongqing|     NULL|2009-06-27|       15.6|
|     E02009|     Miles Chang|          Analyst II|    Finance|           Corporate|  Male|    Asian| 62| 2/19/1999| 69674.0|     0%|        China|  Chengdu|     NULL|1999-02-19|       26.0|
|     E02010|   Gianna Holmes|System Administra...|         IT|       Manufacturing|Female|Caucasian| 38|09-09-2011| 97630.0|     0%|United States|  Seattle|     NULL|2011-09-09|       13.4|
|     E02011|  Jameson Thomas|             Manager|    Finance|  Specialty Products|  Male|Caucasian| 52|02-05-2015|105879.0|    10%|United States|    Miami|     NULL|2015-05-02|        9.8|
|     E02012|    Jameson Pena|     Systems Analyst|         IT|       Manufacturing|  Male|   Latino| 49|10-12-2003| 40499.0|     0%|United States|    Miami|     NULL|2003-12-10|       21.2|
|     E02013|        Bella Wu|         Sr. Analyst|    Finance|  Specialty Products|Female|    Asian| 63|08-03-2014| 71418.0|     0%|United States|  Phoenix|     NULL|2014-03-08|       10.9|
|     E02014|       Jose Wong|            Director|         IT|       Manufacturing|  Male|    Asian| 45|11/15/2017|150558.0|    23%|        China|Chongqing|     NULL|2017-11-15|        7.3|
|     E02015|Lucas Richardson|             Manager|  Marketing|           Corporate|  Male|Caucasian| 36| 7/22/2018|118912.0|     8%|United States|    Miami|     NULL|2018-07-22|        6.6|
|     E02016|     Jacob Moore|         Sr. Manager|  Marketing|           Corporate|  Male|    Black| 42| 3/24/2021|131422.0|    15%|United States|  Phoenix|     NULL|2021-03-24|        3.9|
|     E02017|         Luna Lu|IT Systems Architect|         IT|           Corporate|Female|    Asian| 62| 7/26/1997| 64208.0|     0%|United States|    Miami|     NULL|1997-07-26|       27.6|
|     E02018|      Bella Tran|      Vice President|Engineering|  Specialty Products|Female|    Asian| 45|08-05-2010|254486.0|    33%|        China|  Chengdu|     NULL|2010-05-08|       14.8|
|     E02019|        Ivy Chau|             Analyst|      Sales|  Specialty Products|Female|    Asian| 61|03-03-2019| 54811.0|     0%|        China|Chongqing|     NULL|2019-03-03|        6.0|
|     E02020|    Jordan Kumar|Service Desk Analyst|         IT|  Specialty Products|  Male|    Asian| 29|11-11-2017| 95729.0|     0%|United States|  Seattle|     NULL|2017-11-11|        7.3|
|     E02021|Sophia Gutierrez|             Manager| Accounting|  Specialty Products|Female|   Latino| 63|02-08-2009|102649.0|     6%|United States|   Austin|     NULL|2009-08-02|       15.5|
+-----------+----------------+--------------------+-----------+--------------------+------+---------+---+----------+--------+-------+-------------+---------+---------+----------+-----------+
only showing top 20 rows

In [39]:
df.select("Hire Date").distinct().show()

+----------+
| Hire Date|
+----------+
|01-11-2005|
|01-11-2015|
|05-04-2020|
|09-12-2022|
| 2/20/2010|
|09-11-2006|
|06-02-2017|
|11/28/2020|
|05-04-2021|
|01-12-2010|
| 2/21/2014|
|03-11-2011|
|04-07-2018|
| 4/28/2000|
|11/26/2015|
|10-02-2020|
|08-01-2020|
| 1/25/2007|
| 5/19/2008|
| 1/24/2014|
+----------+
only showing top 20 rows